<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Categoria</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #c085ff;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: #fff;
            border: 2px solid #0401072e;
            border-radius: 5px;
            text-align: center;
        }

        h3 {
            margin-top: 0;
            font-size: 24px;
            color: rgba(203, 98, 255, 0.549);
            font-weight: bold;
        }

        h4 {
            border: 2px solid rgba(220, 150, 255, 0.549);
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            display: inline-block;
            outline: none;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid rgba(220, 150, 255, 0.549);
            border-radius: 5px;
            outline: none;
        }

        button {
            padding: 10px 20px;
            background-color: #7F4CA5;
            color: white;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }


        button:hover {
            background-color: #2e1c3c;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="/updatectg/<%= categorias.id %>" method="post">
            <input type="text" name="nombre" id="nombre" value="<%= categorias.nombre %>" required maxlength="25"
                minlength="4">
            <button type="submit" class="btn btn-primary">Actualizar Categoria</button>
        </form>
    </div>
</body>

</html>