<!DOCTYPE html>
<html>
  <head>
    <title>P3-31.107.621</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola Mundo</h1>
    <p>Camila Cleary</p>
    <p>C.I:31.107.621</p>
    <p>Sección: 2</p>
  </body>
</html>
